name: Action Debugger
on:
  workflow_dispatch:
    inputs:
      {}

jobs:
  debug:
    runs-on: [self-hosted, cmms]
    env:
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
    steps:
      - name: review
        working-directory: /users/chitacan/git/cortex/pr-461
        run: |
          claude --allow-dangerously-skip-permissions -p "review-helper 에이전트를 사용해서 이 PR 에서 이루어진 주요 변경 사항을 요약해줘" > REVIEW_SUMMARY.md