name: Action Debugger
on:
  workflow_dispatch:
    inputs:
      {}

jobs:
  debug:
    runs-on: [self-hosted, cmms]
    steps:
      - name: debug claude in action
        working-directory: /users/chitacan/git/cortex/pr-461
        run: |
          claude -p hello?