name: Action Debugger
on:
  workflow_dispatch:
    inputs:
      {}

jobs:
  debug:
    runs-on: [self-hosted, cmms]
    env:
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
    steps:
      - name: review
        working-directory: /users/chitacan/git/cortex/pr-461
        run: |
          claude mcp list