name: Action Debugger
on:
  workflow_dispatch:
    inputs:
      {}

jobs:
  debug:
    runs-on: [self-hosted, cmms]
    steps:
      - name: debug claude in action
        working-directory: /users/chitacan/git/cortex/pr-597
        run: |
          tmux new-window -t agents \
            -n "cortex#pr-597" \
            happy --yolo