name: Open Worktree
description: Setup a git worktree for a given GitHub Repo or PR URL.
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'vscode tunnel url'
        required: true
      space:
        description: 'space to open url'
        required: true

jobs:
  setup-worktree:
    runs-on: [self-hosted, cmba-15]
    steps:
      - name: Open vscode url in arc browser
        run: |
          osascript <<EOF
            tell application "Arc"
              if (count of windows) is 0 then
                make new window
              end if

              tell front window
                set targetURL to "${{ github.event.inputs.url }}"
                set targetSpace to "${{ github.event.inputs.space }}"
                set tabFound to false
                
                repeat with _space in spaces
                  set _title to get title of _space
                  
                  if _title is equal to targetSpace then
                    tell _space
                      set allTabs to properties of every tab
                      set tabsCount to count of allTabs
                      
                      repeat with i from 1 to tabsCount
                        set _tab to item i of allTabs
                        set _url to get URL of _tab
                        
                        if _url is equal to targetURL then
                          tell _space
                            select tab i
                          end tell
                          set tabFound to true
                          exit repeat
                        end if
                      end repeat
                      
                      if tabFound is false then
                        focus
                        make new tab with properties {URL:targetURL}
                      end if
                    end tell
                    exit repeat
                  end if
                end repeat
              end tell

              activate
            end tell
            EOF
